
html { margin: 0; padding: 0; }
body { margin: 0; padding: 1px; }

html, input, textarea, button
{
	font-family: "メイリオ";
	color: #333;
}

h2 { margin: 0; }

table
{
	cursor: default;
	border: 2px solid #333;
	border-collapse: collapse;
}

tr:hover { background: #def; }

td { border: 1px dotted #998; padding: 1px 5px; }

p { margin: 0; }

input, textarea { margin: 0px; border: 1px solid #998; margin-right: 1px; }
input, select { font-size: 18px; }

.Navi
{
	cursor: default;
}

.Navi_Exit
{
	margin-right: 1ex;
	padding: 0 8px;
	font-weight: bold;
}

.Navi_Path
{
	margin-bottom: 1px;
	background: #8b5;
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	color: #fff;
}

.Navi_Path_Tab     { display: none;  padding: 0px 3px; }
.Navi_Path_Tab:hover  { background: #0e0e0e; }
.Navi_Path_Tab_Vis { display: inline }
.Navi_Path_Tab_Sel,
.Navi_Path_Tab_Sel:hover { color: #fe6; }
.Navi_Path_Tab_Sep { margin: 0 3px; font-size: 12px; font-family: monospace; }


.Navi_Coll
{
	border-bottom: solid 1px #ddb;
	padding-bottom: 1px;
	line-height: 45px;
	font-size: 18px;
}

.Navi_Coll_Tab { margin-right: 1px; padding: 9px 13px; }
.Navi_Coll_Tab:hover { background: #e8e4d0; }
.Navi_Coll_Tab_Sel,
.Navi_Coll_Tab_Sel:hover { background: #69d; background: #aa8; background: #0e0e0e; color: #fff; }


.Navi_Enter
{
	cursor: default;
	width: 17em;
	padding: 2em 2em;
	line-height: 36px;
	font-size: 22px;
}

.Navi_Ent_Item
{
	border-bottom: 1px dotted #997;
	margin-bottom: 1px;
	padding: 0 1ex;
}

.Navi_Ent_Item:hover  { background: #f2f0e4; }

a.DateSel
{
	margin: 0 0.6ex 0 0; padding: 0;
	color: #222;  text-decoration: none;
	line-height: 30px;  font-size: 30px;  font-weight: bold;
}

.Content
{
	padding: 2px;
}

.Content h2  { margin: 0;  padding: 2px 4px;  }

.InpField { border: none; }
.InpField td { border-width: 0; padding: 0; }

#Log
{
	background: #665;
	padding: 18px;
	font-family: "MS Gothic";
	font-size: 14px;
	color: #eee
}

